
// Import du plugin
@import "responsive/import";

.foo{
  color: red;

  @include respond-to(sm, (
    color: blue,
  ));

  @include respond-to(sm, (
    background: green,
    font-size: 15px,
    color: black,
  ));

}

// Chargement des points de ruptures
@include loadMediaQuery();
