
// Import du plugin
@import "responsive/import";

// Utilisation de base avec une liste propriétés
.foo{
  color: red;

  @include respond-to(sm, (
    color: blue,
  ));

  &-sub {

    @include respond-to(sm, (
      background-color: green,
    ))
  }

  .sub-selector {
    @include respond-to(sm, (
          background-color: orange,
    ))
  }

}
.hello {
  @include respond-to(sm, (
      background: red,
  ));
}

// Utilisation avec @content
.bar {

  color: pink;

  @include respond-to(sm){
    color: white;
    font-size: 16px;
  }
}

// Chargement des points de ruptures
@include loadMediaQuery();
